version: '3.8'

services:
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
    command: redis-server --requirepass "redis_pass_123"

  product-service:
    build: ./product-service
    ports: ["6001:6001"]
    depends_on: [redis]

  order-service:
    build: ./order-service  
    ports: ["6002:6002"]
    depends_on: [redis]
    environment:
      - Redis__Connection=redis:6379
      - Redis__Password=redis_pass_123

  user-service:
    build: ./user-service
    ports: ["6003:6003"]
    depends_on: [redis]
    environment:
      - Redis__Connection=redis:6379
      - Redis__Password=redis_pass_123

  gateway:
    build: ./gateway
    ports: ["6000:6000"]
    depends_on: [product-service, order-service, user-service, redis]
    environment:
      - Jwt__Key=VerySecretDemoKey12345
      - Redis__Connection=redis:6379
      - Redis__Password=redis_pass_123
      - Services__UserService=http://user-service:6003
      - Services__OrderService=http://order-service:6002
      - Services__ProductService=http://product-service:6001
